/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/**color variables for my site**/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  /* non variable way
  background-color: #fababa;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: black;
*/
  background-color: #fababa;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #000000;
}

.page-headers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.profile__portrait {
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile__portrait {
  width: 250px;
  margin-right: 40px;
}
h2 {
  font-size: 24px;
  font-weight: 700;
}

h1 {
  font-size: 34px;
  font-weight: 700;
}
@media screen and (max-width: 500px) {
  h1 {
      font-size: 20px;
  }
}

a {
  color: #357b70;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 10px 3fr 10px 3fr 10px 3fr;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
}

.grid_item {
  background-color: lightgray;
  margin: 20px;
}
/* this one is for my ultra wide monitor i use*/
@media screen and (max-width: 1000px) {
  .grid {
      -ms-grid-columns: 3fr 3fr 3fr;
      grid-template-columns: 3fr 3fr 3fr;
  }
}

@media screen and (max-width: 750px) {
  .grid {
      -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
  }
}
@media screen and (max-width: 500px) {
  .grid {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  }
}

a:visited {
  /* Unvisited link */
  color:#fff;
}
a:hover {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color:#fff;
}
/* Buttons on difarant pages*/
button {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #1b1919;
  color:#fff;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 50px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(8, 8, 8, 0.3);
}
.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #1b1919;
  color:#fff;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 50px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(8, 8, 8, 0.3);
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.5;
}
/* this bit adds the transition just to button one*/
.button1:hover {
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.button__secondary {
  background-color: #000000;
  color: #dc2626;
}
input,
texture,
select,
button {
  font-family: system-ui;
}
.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.wheel {
  -webkit-animation-name: wheeljumper;
          animation-name: wheeljumper;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
@-webkit-keyframes wheeljumper {
  0% {
      fill: #edc655;
  }
  50% {
      fill: #fcffad;
  }
  100% {
      fill: #f76414;
  }
}
@keyframes wheeljumper {
  0% {
      fill: #edc655;
  }
  50% {
      fill: #fcffad;
  }
  100% {
      fill: #f76414;
  }
}